.container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0;
}

.rotate-up {
    transform: rotate(-180deg);
    transition: transform 1s ease-in;
}

.rotate-down {
    transform: rotate(0);
    transition: transform 1s ease-out;
}

.h2-title {
    color: #fff;
    text-transform: uppercase;
    align-self: center;
}

.h3-title {
    text-align: center;
}

.text-center {
    text-align: center;
}

.pad-right-8 {
    padding-right: 8px;
}

.margin-top-xsmall {
    margin-top: 10px;
}

.margin-top-large {
    margin-top: 48px;
}

.input:invalid {
    border: 2px solid var(--color-red);
}

.input:valid {
    border: 2px solid greenyellow;
}

.footer {
    padding: 1rem 0;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-red);
}

.red {
    color: var(--color-red);
}

.purple {
    color: var(--color-purple)
}

.white {
    color: var(--color-white);
}

:root {
    --color-purple: #7e1bff;
    --color-red: #af4b2d;
    --color-white: #fff;
}